.snap-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: 1px solid gray;
  margin: 3px 0;
  min-width: 700px;
}

.card-footer {
  width: 100%;
}

.btn {
  min-width: 40px;
}

